.text-input {
	width: 100%;
	padding-left: 10px;
	margin-bottom: 30px;
	margin-top: 20px;
}
#myDiv {
	padding-top: 15px;
	padding-bottom: 30px;
}


button::-moz-focus-inner {
  border: 0;
}

.topcoat-textarea {
	font-size: 15px;
}

